{% extends "base_logged_in.html" %}

{% comment %}
Template for viewing a resume.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-container {
      margin: 24px auto 0;
      max-width: 800px;
    }

    div.header-center-container {
      text-align: center;

      margin-top: 12px;
    }

    div.header-container {
      text-align: left;

      display: inline-block;
    }

    div.header-container > h3 {
      margin-top: 0;

      color: #666666;
    }

    section.resume-item {
      margin-top: 36px;

      position: relative;
    }

    section.resume-item > a.btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    div.resume-container > a.btn {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container content-section resume-container">
    <div class="header-left-container">
      <div class="header-container">
        <h1 style="text-align:left;">Resumes</h1>
      </div>
    </div>

          <section class="resume">
<div class="container">
    <table>
<tbody>
      {% for resume in resumelist %}
<tr>
<td>      <h4>{{ resume.title }}</h4></td>
<td>      <h5>number items</h5></td>
<td><a class="btn btn-primary" href="/resume/{{ resume.id }}/">View</a></td>
<td><a class="btn btn-primary" href="/resume/edit/{{ resume.id }}/">Rename</a></td>
</tr>
   {% endfor %}
</tbody>
</table>
      </section>
    <a class="btn btn-success" href="/resume/create/">Create New Resume</a>
  </div>
{% endblock %}
