{% extends "base_logged_in.html" %} {% comment %} Template for viewing a resume.
{% endcomment %} {% block styles %} {{ block.super }}

<style>
  div.resume-container {
    margin: 24px auto 0;
    max-width: 800px;
  }

  div.header-center-container {
    text-align: center;

    margin-top: 12px;
  }

  div.header-container {
    text-align: left;

    display: inline-block;
  }

  div.header-container > h3 {
    margin-top: 0;

    color: #666666;
  }
  
  #create {
    margin-top: 24px;
    margin-bottom: 24px;
  }
</style>

{% endblock %} {% block content %}

<div class="container content-section resume-container">
  <div class="header-left-container">
    <div class="header-container">
      <h1 style="text-align: left;">Resumes</h1>
    </div>
  </div>

  <section class="resume">
    <div class="container-fluid">
      {% for resume in resumelist %}
      <div class="row">
        <div class="col-3"><h4>{{ resume.name }}</h4></div>
        <div class="col-2"><h5>
        {% if resume.resumeitem_set.count == 1 %}
        {{ resume.resumeitem_set.count }} Item
        {% else %}
        {{ resume.resumeitem_set.count }} Items
        {% endif %}</h5>

        </div>
        <div class="col-3">
          <a class="btn btn-primary" href="/resume/{{ resume.id }}/">View</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-default" href="/resume/{{ resume.id }}/manage"
            >Manage</a
          >
        </div>
<div class="col-3"></div>
      </div>
      {% endfor %}
    </div>
    <a id="create" class="btn btn-success" href="/resume/create/">Create New Resume</a>
  </section>
  {% endblock %}
</div>
